p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-box {
    width: 300px;
    height: 300px;
    background: white;
    color: balck;
    padding: 30px 30px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    font-family: arial;
}

.login-here {
    text-align: center;
    font-size: 22px;
}

.username-password {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.username,
.password {
    width: 90%;
    padding: 10px;
    border-style: solid;
    border-color: rgb(96, 96, 96);
    background: transparent;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
}

.login-button {
    background: black;
    color: white;
    border: none;
    width: 48%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background: gray;
    color: black;
}
