* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
}

.logo {
  /* width: 245px;
    height: 70px;  */
  display: flex;
}

.logo img {
  width: 50px;
  height: 50px;
  padding: 5px;
  align-items: center;
}

.logo h1 {
  margin-left: 7px;
  padding: 20px;
  /* top:15px; */
  /* position: relative; */
  color: whitesmoke;
}

.blank {
  width: 500px;
  height: 70px;
  /* background-color: purple; */
}

.menu {
  width: 922px;
  height: 70px;
  /* background-color: aquamarine; */
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding: 30px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  position: relative;
  justify-content: center;
  top: 5px;
}
.search ion-icon {
  position: relative;
  justify-content: center;
  left: -18px;
  top: 6px;
  color: black;
}

.templete {
  background-color: gray;

  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.right-arrow img {
  width: 50px;
}*/
.right-arrow ion-icon{
  font-size: 30px;
  position: relative;
  right: 15px;
}

/*.left-arrow img {
  width: 50px;
}*/
.left-arrow ion-icon{
  font-size: 30px;
  position: relative;
  right: 15px;
}

.about {
  text-align: center;
  background-color: black;
}

.heading h1 {
  height: 80px;
  font-size: 70px;
  font-weight: 700;

  color: red;
  /* margin-top:10px;
    margin-bottom:10px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-heading h2 {
  height: 60px;
  font-size: 50px;
  color: white;
}
